/package.bluej
/Artikel.ctxt
/Bauernhof.ctxt
/BedarfPos.ctxt
/BestellPos.ctxt
/Datei.ctxt
/Einkaufsliste.ctxt
/Exporter.ctxt
/Grosshandel.ctxt
/Kantinenplan.ctxt
/Kantinenplanung.ctxt
/Lebensmittel.ctxt
/Lieferant.ctxt
/Lieferantenverwaltung.ctxt
/Rezept.ctxt
/Rezeptverwaltung.ctxt
/Tagesgericht.ctxt
/Zutat.ctxt
